<!--

    https://raw.githubusercontent.com/AlonxoGM/Suricata/main/index.html
-->

<body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: var(--bs-pink);">
        <div class="container-fluid">
          <img src="../img/logo.png" alt="Bootstrap" width="132px" height="53px" class="navbar-brand" href="#">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#" style="color: aliceblue;">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: aliceblue;">Productos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: aliceblue;">Contacto</a>
                </li>
              </ul>
        </div>
        </div>
    </nav>
    <h1 class="text-center">Nuestros Productos</h1>
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
            <img src="../img/colaciones.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Colaciones</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../img/desayunos.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Desayunos</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../img/empanadas.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Empanadas</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
          </div>
        </div>
      </div>
      <br>

      <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
            <img src="../img/bebidas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bebidas</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../img/dulces.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Dulces</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../img/verduras.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Verduras</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </body>